/**
 * @name Wentz Theme RED
 * @version 1.0.0
 * @description 〽 TDM DOMINA OK? 〽
 * @author Венц〽ᵖᵘᵗᵒᵐᵉᶜ⿻#4197
 * @source https://github.com/FaixSool/Themes-For-Discord
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Dark+/Dark+.theme.css');

:root {
    --darkplus-bg: #212121;
    --darkplus-bg2: #302f2f;
    --darkplus-sec: #d10000;
    --darkplus-links: #d10000;
    --darkplus-home-icon: url(https://cdn.discordapp.com/attachments/854151577077678100/913605327717560330/discord-avatar-512.png)
  }


  /**
   *   Credits   > https://github.com/DevEvil99?tab         DevEvil99 <3
   *    DevEvil99 <3 DevEvil99 <3 DevEvil99 <3 DevEvil99 <3 DevEvil99 <3
  */
